boto3
opencv-python-headless
numpy
pandas
torch
torchvision
timm
Pillow
tqdm
scikit-image
matplotlib
ftfy
regex
einops
ensemble-boxes
transformers
streamlit
groundingdino-py

git+https://github.com/openai/CLIP.git

